@using RealEstates.Services.Models
@model IEnumerable<DistrictViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>District</th>
        <th>Properties</th>
        <th>Avg. price</th>
        <th>Min. price</th>
        <th>Max. price</th>
    </tr>
    @foreach (var district in this.Model)
    {
        <tr>
            <td>@district.Name</td>
            <td>@district.PropertiesCount</td>
            <td>@district.AveragePrice</td>
            <td>@district.MinPrice</td>
            <td>@district.MaxPrice</td>
        </tr>
    }
</table>
